@mixin justify-align-self_center
   justify-self: center
   align-self: center

@mixin justify-align-self_start
   justify-self: start
   align-self: start

@mixin justify-align-self_end-end
   justify-self: end
   align-self: end

@mixin justify-align-self_start-end
   justify-self: start
   align-self: end

@mixin justify-align-self_center-end
   justify-self: center
   align-self: end

@mixin justify-align-self_center-start
   justify-self: center
   align-self: start

@mixin justify-align-self_start-center
   justify-self: start
   align-self: center

@mixin khp-grid-gap
   grid-gap: 20px

@mixin mobile
   @media screen and (max-width: $mobile)
      @content

