#contact-h1 {
    grid-row: 1;
    grid-column: 1/13;
    justify-self: center;
    align-self: center;
    font-size: 4em;
}

#form-heading {
    display: initial;
}

#form-errors {
    display: none;
}

#contact-form {
    grid-row: 2/7;
    grid-column: 3/11;
    background: #20b62f;
    border: 2px solid #52055c;
    border-radius: 5px;
    height: 775px;
}

form {
    margin: 25px;
}

#contact-form div {
    margin: auto;
    padding: 0;
    border-bottom: #52055c dotted 5px;
    width: 500px;
}

#contact-form p {
    font-size: 1em;
    text-align: center;
}

.form label {
    color: #52055c;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
}

.form input {
    width: 650px;
    height: 35px;
    border-radius: 5px;
}

.form textarea {
    width: 650px;
    border-radius: 5px;
}

.form button {
    float: right;
    border-radius: 5px;
    width: 7em;
    height: 3em;
    color: #20b62f;
    background: #52055c;
    border: none;
    cursor: pointer;
}

button#submit {
    margin: 0 10px;
}

.validate {
    float: left;
}

input.validate {
    width: 25px;
    height: 15px;
}

.validate span {
    float: left;
}