#img-execdir {
   grid-column: 2 / 6;
   grid-row: 2 / 8;
}

#h3-execdir {
   grid-column: 7 / 12;
   grid-row: 2;
   align-self: start;
   justify-self: start;
   margin-top: 0;
}

#art-execdir {
   grid-column: 7 / 12;
   grid-row: 2 / 8;
   margin-top: 25px;
}
