/* All */


/* #all {
    display: initial;
} */

.allFig {
    border: solid 3px #20b62f;
    border-radius: 25px;
}

.allImg {
    height: 25%;
    width: 25%;
}

#board-h1 {
    grid-row: 1;
    grid-column: span 12;
    text-align: center;
    justify-self: center;
    align-self: center;
}

#board {
    grid-row: 2 / 4;
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 325px;
    border-radius: 5px;
    background: #52055c;
    text-decoration: none;
    color: #20b62f;
    font-size: 20px;
}

div.gallery:hover {
    border: 1px solid #777;
    cursor: pointer;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.board-links {
    text-decoration: none;
    color: #20b62f;
    font-size: 20px;
}

#sponsors-h1 {
    grid-row: 4;
    grid-column: span 12;
    text-align: center;
    justify-self: center;
    align-self: center;
}


/* execdir */

.whoweare-img {
    grid-column: 2 / 6;
    grid-row: 2 / 8;
    /* height: 75%;
   width: 75%; */
}

.whoweare-h3 {
    grid-column: 7 / 12;
    grid-row: 2;
    align-self: start;
    justify-self: start;
    margin-top: 0;
}

.whoweare-art {
    grid-column: 7 / 12;
    grid-row: 2 / 8;
    margin-top: 25px;
}


/* founder */

#img-founder,
#img-treasurer,
#img-secretary {
    width: 95%;
}

i#arrow {
    grid-row: 1;
    grid-column: 1 / 3;
    align-self: start;
    justify-self: start;
    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 2px 2px 4px #52055c;
}