@import url('https://fonts.googleapis.com/css?family=Alice')
@import url('https://fonts.googleapis.com/css?family=Indie+Flower')
@import '_variables'
@import '_mixins'

/* Site Styling*/
html
   font-size: 62.5%

/* Header Section Styling*/
header#header
   @include headerGrid
   font-family: 'Indie Flower', cursive
   background: $khp-purple
   height: 175px

   .hcontainer
      @include headerGrid
      grid-column: 1/9

      img#logo
         max-width: 142px
         grid-column: 2
         @include justify-align-self_center

      ul#nav
         grid-column: 3/9
         @include justify-align-self_center

         li.nav-item
            cursor: pointer
            display: inline-flex
            align-items: center
            justify-content: space-around
            font-size: 2.5rem
            font-weight: map-get($font-weight, regular)
            text-transform: capitalize
            text-align: center

            a
               text-decoration: none
               color: $khp_textwhite
               &.active
                  color: $khp_green
                  text-decoration: underline               
               &:hover
                  color: $khp_green
                  transition-property: color
                  transition-duration: 200ms, 200ms
                  transition-timing-function: ease-in-out, ease-in-out
                  transition-delay: 0s, 0s
               &#contact
                  border: solid 2px $khp_green
                  border-radius: 50px
                  text-align: center
                  padding: 5px 15px
                  color: $khp_green
                  &:hover
                     background: $khp_green
                     color: $khp_textwhite
                     transition-property: color, background-color
                     transition-duration: 200ms, 200ms
                     transition-timing-function: ease-in-out, ease-in-out
                     transition-delay: 0s, 0s
            
            span.divide
               color: $khp_green
               font-size: 3.5rem
               padding: 0 10px

   

/* Index page styling*/
.container-main
   @include mainGrid
   font-family: 'Alice', serif
   color: $khp_purple
   grid-column-gap: 10px

   h1
      text-shadow: 2px 2px 4px $khp_purple
      font-size: 3rem
   
   #main-heading
      grid-row: 1
      grid-column: 1 / 13
      @include justify-align-self_center

   .main-fig
      grid-row: 2/8
      grid-column: 3/7
      margin: 0
      padding: 0
      text-align: center
      font-size: 2rem

   img#main-img
      max-width: 100%
      height: auto

   #main-art
      grid-row: 2 / 8
      grid-column: 7 / 11
      margin: 0
      padding: 0

   #main-art p
      font-size: 2.5rem
      line-height: 1.8em
      margin: inherit
      padding: inherit

/* Styling for Footer */
footer
   &#footer
      display: grid
      grid: 250px / repeat(8, 1fr)
      background: $khp_purple
      color: $khp_purewhite
      border-top: solid $khp_green 5px
   div
      &#address
         grid-column: 2 / 4
         @include justify-align-self_start-end
         margin-left: 70px
         font-size: 1.6rem
   div
      &#social
         grid-column: 4 / 6
         @include justify-align-self_center-start
         margin-top: 100px

         .fab
            letter-spacing: 5px
            font-size: 48px
            color: $khp_purewhite

   div
      &#dev
         grid-column: 4 / 6
         @include justify-align-self_center-end
         a
            color: $khp_purewhite
            font-size: 1.6rem

   div
      &#copy
         grid-column: 7
         @include justify-align-self_start-end
         font-size: 1.6rem

/* Styling for Family Stories Main Page */

/* another test 2 */

   

   