@import url("https://fonts.googleapis.com/css?family=Alice");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
/* Header Styling for mobile */
@media screen and (max-width: 850px) {
  header {
    width: 100%;
  }
  header#header .hcontainer img#logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header#header .hcontainer ul#nav {
    display: none;
  }
  header#header .hcontainer button.openbtn {
    display: initial;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 15px;
    border: none;
    background: none;
    color: #20b62f;
    font-size: 3rem;
  }
  /* Styling for Sidebar Nav */
  nav.sidebar {
    font-family: 'Indie Flower', cursive;
    display: initial;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #52055c;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  nav.sidebar ul.nav-sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav.sidebar ul.nav-sidebar a.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3.6rem;
    margin-left: 50px;
    color: #20b62f;
    text-decoration: none;
  }
  nav.sidebar ul.nav-sidebar li.nav-sidebar-item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
  }
  nav.sidebar ul.nav-sidebar li.nav-sidebar-item a.active {
    color: #20b62f;
    text-decoration: underline;
  }
  nav.sidebar ul.nav-sidebar li.nav-sidebar-item a.nav-sidebar-item-a {
    text-decoration: none;
    color: #d9d8d8;
  }
  nav.sidebar ul.nav-sidebar li.nav-sidebar-item a.nav-sidebar-item-a:hover {
    color: #20b62f;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 200ms, 200ms;
            transition-duration: 200ms, 200ms;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
            transition-timing-function: ease-in-out, ease-in-out;
    -webkit-transition-delay: 0s, 0s;
            transition-delay: 0s, 0s;
  }
  nav.sidebar ul.nav-sidebar li.nav-sidebar-item a.nav-sidebar-item-a#contact {
    border: solid 2px #20b62f;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    color: #20b62f;
  }
  nav.sidebar ul.nav-sidebar li.nav-sidebar-item a.nav-sidebar-item-a#contact:hover {
    background: #20b62f;
    color: #d9d8d8;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 200ms, 200ms;
            transition-duration: 200ms, 200ms;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
            transition-timing-function: ease-in-out, ease-in-out;
    -webkit-transition-delay: 0s, 0s;
            transition-delay: 0s, 0s;
  }
  /* Styling for Main page */
  main#main h1 {
    font-size: 2.5rem;
    padding: 0;
  }
  main#main #main-heading {
    display: none;
  }
  main#main #main-heading-mobile {
    display: initial;
    text-align: center;
  }
  main#main figure.main-fig {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    font-size: 2rem;
  }
  main#main img#main-img {
    height: auto;
    width: 100%;
    padding: 15px;
  }
  main#main article#main-art {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 4;
    -ms-grid-row-span: 9;
    grid-row: 4/13;
    padding: 10px;
  }
  main#main article#main-art p {
    font-size: 2rem;
    margin: inherit;
    padding: inherit;
  }
  /* Main Family Stories page */
  main.container-main #stories-h1 {
    margin: 0;
  }
  main.container-main #stories-ul a li.gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.container-main #stories-ul a li.gallery .img-main {
    height: auto;
    width: 100%;
  }
  main.container-main #stories-ul a li.gallery div.desc h2, main.container-main #stories-ul a li.gallery div.desc p {
    margin: 10px;
  }
  /* Mobile Style for Nathan's page */
  main.container-main article#art-nathan img.img-nathan {
    max-width: 50%;
  }
  main.container-main img#nathan3 {
    max-width: 50%;
  }
  /* Mobile Style for who we are */
  main.container-main article.whoweare-art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Mobile style for Board Member's page */
  main.container-main div.container-art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    justify-items: center;
  }
  main.container-main div.container-art div.div-img {
    width: 100vw;
  }
  main.container-main div.container-art div.div-art {
    margin: 0;
    padding: 0;
  }
  main.container-main div.container-art div.div-art h2 {
    text-align: center;
    padding: 10px;
  }
  main.container-main div.container-art div.div-art p {
    padding: 10px;
  }
  /* Mobile Style for Sponsor page */
  main.container-main div.img-container div.img-group {
    display: none;
  }
  main.container-main div.img-container div.mobile-img-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  main.container-main div.img-container div.mobile-img-group div.mobile-sponsor-div {
    border-bottom: solid 3px #52055c;
  }
  main.container-main div.img-container div.mobile-img-group div.mobile-sponsor-div:last-child {
    border-bottom: none;
  }
  main.container-main div.img-container div.mobile-img-group div.mobile-sponsor-div img {
    height: 50%;
    width: 50%;
    padding: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* Mobile Style for Contact Us Page */
  main.contact-container div#contact-form {
    width: 100%;
    margin: auto;
  }
  main.contact-container form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main.contact-container form input.form-input {
    display: block;
    float: left;
  }
  main.contact-container form textarea {
    width: 300px;
    display: block;
  }
  /* Styling for footer */
  footer div#social, footer div#address, footer div#copy, footer div#dev {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer div#social {
    margin: 1rem;
  }
  footer div#social .fab {
    font-size: 3rem;
  }
  footer div#address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  footer div#copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  footer div#dev {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}
/*# sourceMappingURL=mobile.css.map */