/* Main Family Stories page */

#stories-h1 {
    grid-row: 1;
    grid-column: 1/13;
    justify-self: center;
    align-self: center;
}

#stories-ul {
    grid-row: 2/8;
    grid-column: 2/12;
}

li.gallery {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #52055c;
    text-decoration: none;
    color: #20b62f;
    font-size: 20px;
    list-style: none;
}

.gallery:hover {
    border: 1px solid #777;
    cursor: pointer;
}

.img-main {
    width: 15%;
    height: 25%;
    padding: 25px;
    align-self: center;
}

div.desc {
    align-self: center;
}

div.desc h2 {
    margin: 0 0 25px 0;
}

div.desc p {
    text-align: left;
    font-size: 1.25em;
    margin: 0;
}


/* Danica's Story page */

#heading-danica {
    grid-row: 1;
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
    color: #20b62f;
    font-size: 3em;
}

#danicaXmas {
    grid-column: 1 / 5;
    grid-row: 2 / 7;
    align-self: start;
    justify-self: start;
    margin: 0;
    padding: 0;
}

#imgDanicaXmas {
    height: 75%;
    width: 75%;
    margin: 0;
    padding: 0;
}

#art-danica {
    grid-column: 5 / 9;
    grid-row: 2 / 8;
    align-self: start;
    justify-self: start;
    padding-bottom: 25px;
}

#danicaFig {
    grid-column: 9 / 13;
    grid-row: 2 / 7;
    align-self: start;
    justify-self: center;
    margin: 0;
    padding: 0;
}

#imgDanica {
    height: 75%;
    width: 75%;
    margin: 0;
    padding: 0;
}


/* Nathan's Story page */

#heading-nathan {
    grid-row: 1;
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
    color: #20b62f;
    font-size: 3em;
}

#art-nathan {
    grid-column: 4/10;
    grid-row: 2/8;
    align-self: start;
    justify-self: start;
    font-size: 1.5em;
}

.img-nathan {
    margin: 10px;
    height: 25%;
    width: 25%;
}

#nathan1 {
    float: left;
}

#nathan2 {
    float: right;
}

#nathan3 {
    grid-column: 6/8;
    grid-row: 6/8;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}