@import url('https://fonts.googleapis.com/css?family=Alice');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import './variables';
@import './mixins';
html {
    box-sizing: border-box;
    font-size: 62.5%;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

div.wrapper {
    display: grid;
    grid-template-rows: $minmax-content $minmax-content $minmax-content;
    grid-template-areas: "header" "content" "footer";
    grid-gap: 20px;
    @include mobile {
        max-width: 100vw;
    }
}

nav.mobile {
    display: none;
    @include mobile {
        display: grid;
        grid-gap: 20px;
        font-family: 'Indie Flower', cursive;
        width: 0;
        height: 100vh;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: $khp_purple;
        overflow-x: hidden;
        padding-top: 60px;
        transition: .5s;
        ul.nav-sidebar {
            list-style: none;
            margin: 0;
            padding: 0;
            a.closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 3.6rem;
                margin-left: 50px;
                color: $khp_green;
                text-decoration: none;
            }
            li.nav-sidebar-item {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                cursor: pointer;
                font-size: 2.5rem;
                font-weight: map-get($font-weight, regular);
                text-transform: capitalize;
                text-align: left;
                a.active {
                    color: $khp_green;
                    text-decoration: underline;
                }
                a.nav-sidebar-item-a {
                    text-decoration: none;
                    color: $khp-textwhite;
                    &:hover {
                        color: $khp_green;
                        transition-property: color;
                        transition-duration: 200ms, 200ms;
                        transition-timing-function: ease-in-out, ease-in-out;
                        transition-delay: 0s, 0s;
                    }
                }
                div#sidebar-sub-div {
                    border: solid 2px $khp_green;
                    border-radius: 50px;
                    text-align: center;
                    padding: 5px 15px;
                    color: $khp_green;
                    &:hover {
                        background: $khp_green;
                        color: $khp_textwhite;
                        transition-property: color, background-color;
                        transition-duration: 200ms, 200ms;
                        transition-timing-function: ease-in-out, ease-in-out;
                        transition-delay: 0s, 0s;
                    }
                    a.active {
                        background: $khp_green;
                        color: $khp_textwhite;
                    }
                }
            }
        }
    }
}

section.header {
    grid-row: 1;
    grid-area: header;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 4;
    grid-template-columns: 1fr 2fr;
    font-family: 'Indie Flower', cursive;
    background-color: $khp_purple;
    align-items: center;
    justify-items: center;
    margin: 0;
    @include mobile {
        grid-template-columns: $minmax-content
    }
    header.logo {
        grid-column: 1;
        button.openbtn {
            display: none;
        }
        img {
            display: block;
            width: 75%;
            height: 75%;
            margin: 25px auto;
        }
        @include mobile {
            grid-column: 1/-1;
            width: 100vw;
            img {
                display: block;
                position: relative;
                top: 0;
                width: 50%;
                height: 50%;
                margin: 25px auto;
            }
            button.openbtn {
                display: initial;
                position: absolute;
                top: 5%;
                left: 5%;
                justify-self: start;
                align-self: start;
                color: $khp_green;
                font-size: 3rem;
                background: none;
                border: none;
            }
        }
    }
    nav.main-nav {
        grid-column: 2;
        @include mobile {
            display: none;
        }
        ul.nav-ul {
            display: grid;
            grid-auto-columns: repeat(auto, min-content);
            grid-auto-flow: column dense;
            align-items: center;
            justify-items: center;
            grid-gap: 20px;
            list-style: none;
            padding: 0;
            span.divide {
                color: $khp_green;
                font-size: 3.5rem;
            }
            li.nav-item {
                cursor: pointer;
                display: inline-flex;
                font-size: 2.5rem;
                font-weight: map-get($font-weight, regular);
                text-transform: capitalize;
                text-align: center;
                a.active {
                    color: $khp-green;
                    text-decoration: none;
                }
                a.nav-item-a {
                    text-decoration: none;
                    color: $khp_textwhite;
                    &:hover {
                        color: $khp_green;
                        transition-property: color;
                        transition-duration: 200ms, 200ms;
                        transition-timing-function: ease-in-out, ease-in-out;
                        transition-delay: 0s, 0s;
                    }
                }
                a#contact {
                    border: solid 2px $khp_green;
                    border-radius: 50px;
                    text-align: center;
                    padding: 5px 15px;
                    color: $khp_green;
                    &:hover {
                        background: $khp_green;
                        color: $khp_textwhite;
                        transition-property: color, background-color;
                        transition-duration: 200ms, 200ms;
                        transition-timing-function: ease-in-out, ease-in-out;
                        transition-delay: 0s, 0s;
                    }
                    &.active {
                        background: $khp_green;
                        color: $khp_textwhite;
                        border: solid 2px $khp_green;
                        border-radius: 50px;
                        text-align: center;
                        padding: 5px 15px;
                    }
                }  
            }
        }
    }
} //end of header
main.main-content {
    grid-row: 2;
    grid-area: content;
    display: grid;
    position: relative;
    //top: 10px;
    z-index: 1;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: $minmax-content $minmax-content;
    grid-template-areas: '. header .' '. content .';
    @include khp_grid_gap;
    justify-items: center;
    font-family: 'Alice', serif;
    color: $khp_purple;
    @include mobile {
        grid-template-columns: 20px 1fr 20px;
        grid-gap: 0;
        grid-row-gap: 20px;
    }
    section.main-page {
        display: grid;
        grid-template-columns: $minmax-content $minmax-content;
        grid-gap: 20px;
        @include mobile {
            grid-template-rows: $minmax-content $minmax-content;
            grid-template-areas: "figure" "article";
        }
        figure.main-fig {
            grid-column: 1;
            text-align: center;
            font-size: 2rem;
            @include mobile {
                grid-area: figure;
            }
            img {
                max-width: 75%;
                height: auto;
                border-radius: $img-border-radius;
            }
        }
        article.main-art {
            grid-column: 2;
            font-size: 2.5rem;
            line-height: 1.8em;
            @include mobile {
                grid-area: article;
            }
        }
    }
    section.families {
        ul.stories-ul {
            display: grid;
            grid-template-rows: repeat(auto, $minmax-content);
            @include khp_grid_gap;
            list-style: none;
            margin: 0;
            padding: 0;
            li.gallery {
                background: $khp_purple;
                border-radius: 5px;
                a {
                    // display: grid;
                    // grid-column: 250px $minmax-content;
                    // grid-auto-flow: column;
                    display: flex;
                    justify-content: space-around;
                    text-decoration: none;
                    cursor: pointer;
                    color: $khp-green;
                    @include mobile {
                        flex-direction: column;
                        //grid-auto-flow: row;
                    }
                    img {
                        display: block;
                        border-radius: $img-border-radius;
                        margin: 10px;
                        width: 50%;
                        height: auto;
                        @include mobile {
                            margin: 10px auto;
                            width: 50%;
                            height: 50%;
                        }
                    }
                    div.desc {
                        padding: 25px;
                        h2 {
                            text-align: center;
                            font-size: 3rem;
                        }
                        p {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    section.individual {
        display: grid;
        grid-template-rows: $minmax-content $minmax-content $minmax-content $minmax-content;
        grid-template-areas: 'slideshow' 'dots' 'header' 'story';
        @include khp-grid-gap;
        justify-items: center;
        div.slideshow-container {
            grid-area: slideshow;
            // max-width: 100vw;
            // max-height: 100vh;
            position: relative;
            margin: 0;
            div.mySlides {
                display: none;
                img {
                    display: block;
                    max-height: 75%;
                    max-width: 75%;
                    border-radius: $img-border-radius;
                    margin: auto;
                }
            }
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: $khp_purple;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
            .next {
                right: 15px;
                border-radius: 3px 0 0 3px;
            }
        }
        div.dot-group {
            grid-area: dots;
            text-align: center;
            span.dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: $khp_green;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                .active,
                .dot:hover {
                    background-color: #717171;
                }
            }
        }
        div.story-h1 {
            grid-area: header;
            h1 {
                font-size: 3rem;
            }
        }
        div.story-article {
            grid-area: story;
            article {
                margin: 0 200px;
                font-size: 2rem;
                line-height: 3rem;
                @include mobile {
                    margin: 0;
                }
            }
        }
    }
    section.events {
        display: grid;
        grid-template-columns: 3fr 1fr;                grid-template-areas: "current past";
        @include khp-grid-gap;
        @include mobile {
            grid-template-rows: repeat(auto, $minmax-content);
            grid-gap: 0;
            grid-row-gap: 20px;
            grid-auto-flow: row;
        }
        div.current-event {
            grid-area: current;
            border: medium solid $khp_purple;
            div.mobile {
                display: none;
            }
            @include mobile {
                grid-row: 1;
                border: 1px solid $khp_purple;
                div.mobile {
                    display: initial;
                    a {
                        border-radius: 10px;
                    }
                }
                div.desktop {
                    display: none;
                }
            }
        }
        div.past-events {
            grid-area: past;
            @include mobile {
                grid-row: 2;
            }
            div {
                display: grid;
                grid-template-rows: repeat(auto, 1fr);
                margin: 15px;
                hr {
                    display: block;
                    border: 1px solid $khp-green;
                    margin: .5em auto;
                    width: 100%;
                }
                a.event-link {
                    text-decoration: none;
                    color: $khp-green;
                    text-align: left;
                    font-size: 2rem;
                }
            }
        }
        div.event {
            display: grid;
            grid-template-rows: $minmax-content $minmax-content;
            grid-template-areas: 'event-header' 'event';
            @include khp-grid-gap;
            justify-items: center;
            background: $khp_purple;
            @include mobile {
                grid-column: 1/-1;
                grid-row: repeat(auto, $minmax-content);
            }
            header {
                grid-area: event-header;
                color: $khp-green;
                h2 {
                    font-size: 3rem;
                    text-align: center;
                }
            }
            div {
                grid-area: event;
            }
        }
    } //end of events
    section.event-photos {
        display: grid;
        grid-template-columns: $minmax-content;
        grid-template-rows: 2;
        grid-template-areas: "event-header" "event-photos";
        header {
            grid-area: event-header;
            text-align: center;
        }
        div.photos {
            grid-area: event-photos;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
            grid-auto-rows: 10vh;
            grid-auto-flow: dense;
            grid-gap: 10px;
            background-color: rgba(82, 5, 92, 0.8);
            border: 2px solid $khp_purple;
            // @include mobile {
            //     grid-template-columns: $minmax-content $minmax-content;
            // }
            div.height {
                grid-row: span 2;
            }
            div.width {
                grid-column: span 2;
            }
            div.big {
                grid-column: span 2;
                grid-row: span 2;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    section.board {
        display: grid;
        grid-template-rows: $minmax-content $minmax-content;
        grid-template-areas: "executive" "general";
        @include khp-grid-gap;
        div.executive {
            grid-area: executive;
        }
        div.general {
            grid-area: general;
        }
        div.board-group {
            display: grid;
            grid-template-rows: $minmax-content $minmax-content;
            grid-template-areas: "header" "content";
            @include khp-grid-gap;
            justify-items: center;
            header h2 {
                grid-area: header;
                font-size: 3rem;
            }
            ul.board-list {
                grid-area: content;
                display: grid;
                grid-template-columns: repeat(auto, $minmax-content);
                grid-auto-flow: column;
                list-style-type: none;
                padding: 0;
                @include mobile {
                    grid-auto-flow: row;
                }
                li.list-item {
                    width: 200px;
                    height: 350px;
                    margin: 25px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background: $khp_purple;
                    a {
                        text-decoration: none;
                        color: $khp_green;
                        font-size: 2rem;
                        &:hover {
                            border: 1px solid #777;
                            cursor: pointer;
                        }
                        div.gallery {
                            div.img img {
                                width: 100%;
                                height: auto;
                            }
                            div.desc {
                                padding: 15px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    section.member {
        display: grid;
        grid-template-rows: $minmax-content $minmax-content $minmax-content;
        justify-items: center;
        div.div-img {
            border: 5px $khp-green groove;
            border-radius: 5px;
            img {
                width: 30vw;
                height: auto;
                padding: 3px;
                border-radius: 5px;
                @include mobile {
                    width: 80vw;
                }
            }
        }
        header h2 {
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
        }
        div.whoweare-art {
            p {
                font-size: 2.5rem;
            }
        }
    } //end of whoarewe
    section.sponsors {
        div.img-group {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: 200px;
            grid-auto-flow: dense;
            // grid-template-columns: $minmax-content $minmax-content $minmax-content $minmax-content;
            // grid-auto-rows: 10vh;
            // grid-auto-flow: dense;
            @include khp-grid-gap;
            justify-items: center;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2em;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
        }
    } // End of Sponsors
    section.form-content {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        div.contact {
            width: 50vw;
            form {
                display: grid;
                grid-template-rows: $minmax-content $minmax-content $minmax-content $minmax-content $minmax-content;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 25px;
                @include mobile {
                    grid-template-rows: $minmax-content $minmax-content $minmax-content $minmax-content $minmax-content $minmax-content;
                }
                div.form-group {
                    margin-top: 0;
                    margin-bottom: 0;
                    &:nth-child(1) {
                        margin-top: 25px;
                    }
                    &:nth-child(5) {
                        margin-bottom: 25px;
                    }
                }
                div.name {
                    grid-column: 1/-1;
                    grid-row: 1
                }
                div.email {
                    grid-column: 1/-1;
                    grid-row: 2;
                }
                div.subject {
                    grid-column: 1/-1;
                    grid-row: 3;
                }
                div.message {
                    grid-column: 1/-1;
                    grid-row: 4;
                }
                div.validate {
                    grid-column: 1/span 2;
                    grid-row: 5;
                    @include mobile {
                        grid-column: 1/-1;
                        justify-self: center;
                    }
                }
                div.submit {
                    grid-column: 3/span 2;
                    grid-row: 5;
                    justify-self: end;
                    @include mobile {
                        grid-row: 6;
                        grid-column: 1/-1;
                        justify-self: center;
                    }
                }
            }
        } // end of contact form
        div.login {
            width: 40vw;
        }
        div.khp-form {
            grid-area: form;
            width: 50vw;
            display: grid;
            grid-template-rows: repeat(3, $minmax-content);
            grid-template-areas: 'header' 'error' 'form';
            @include khp-grid-gap;
            background: $khp_green;
            border: 2px solid $khp_purple;
            border-radius: 5px;
            margin: 25px;
            @include mobile {
                width: 85vw;
                margin: 0;
            }
            header.form-heading {
                grid-area: header;
                text-align: center;
                h2 {
                    font-size: 2.5rem;
                    font-weight: bold;
                }
            }
            div.form-errors {
                grid-area: error;
                margin: auto;
                font-size: 2rem;
                font-weight: bold;
                p.error {
                    color: red;
                }
                p.success {
                    color: $khp_purple;
                }
            }
            form {
                grid-area: form;
                div.form-group {
                    margin: 5px 50px;
                    @include mobile {
                        margin: 5px 15px
                    }
                    label {
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                    label.validate {
                        input.validate {
                            width: 25px;
                            border-radius: 5px;
                            text-align: center;
                        }
                    }
                }
                button.btn {
                    background: $khp_purple;
                    border: $khp_purple;
                    color: $khp_purewhite;
                    margin-bottom: 10px;
                    width: 10rem;
                    font-size: 1.5rem;
                }
            }
        }
    } //End of form_content
    section.content-header {
        grid-area: header;
        grid-row: 1;
        header h1 {
            text-shadow: 2px 2px 4px $khp_purple;
            font-size: 4rem;
            text-align: center;
        }
        header div.div-arrow a {
            font-size: 2rem;
            color: $khp_purple;
        }
    }
    section.content {
        grid-area: content;
        grid-row: 2;
        @include khp-grid-gap;
        @include mobile {
            grid-template-columns: $minmax-content;
            grid-gap: 0;
            grid-row-gap: 20px;
        }
    }
} // end main-content
footer.footer {
    grid-row: 3;
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
    position: static;
    z-index: 1;
    background: $khp_purple;
    border-top: solid $khp_green 5px;
    color: $khp_purewhite;
    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: $minmax-content $minmax-content $minmax-content $minmax-content;
        grid-template-areas: "social" "address" "copy" "dev";
    }
    &>div.info {
        grid-row: 2;
        align-self: end;
        font-size: 1.6rem;
        &>p {
            margin: 0;
            padding: 25px;
            &>a {
                text-decoration: none;
                color: $khp_purewhite;
            }
        }
    }
    div.social {
        grid-column: 1/-1;
        grid-row: 1;
        display: grid;
        grid-auto-columns: repeat(auto, min-content);
        grid-auto-flow: column dense;
        grid-gap: 20px;
        padding: 25px;
        @include mobile {
            grid-area: social;
        }
        a i.fab {
            letter-spacing: 5px;
            font-size: 5rem;
            color: $khp_purewhite;
        }
    }
    div#address {
        grid-column: 1/2;
        @include mobile {
            grid-area: address;
        }
    }
    div#dev {
        grid-column: 2/3;
        @include mobile {
            grid-area: dev;
        }
    }
    div#copy {
        grid-column: 3/3;
        @include mobile {
            grid-area: copy;
        }
    }
}